# /etc/systemd/system/netconsole.service
[Unit]
Description=netconsole logging faciity
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/local/bin/netconsole start
ExecStop=/usr/local/bin/netconsole stop

[Install]
WantedBy=basic.target
